/*

To get this list of colors inject jQuery at http://www.google.com/design/spec/style/color.html#color-color-palette

Then, run this script to get the list.


(function() {
  var colors = {}, main = {};
  $(".color-group").each(function() {
    var color = $(this).find(".name").text().trim().toLowerCase().replace(" ", "-");
    colors[color] = {};

    $(this).find(".color").not(".main-color").each(function() {
      var shade = $(this).find(".shade").text().trim(),
          hex   = $(this).find(".hex").text().trim();

      colors[color][shade] = hex;
    });
    main[color] = color + "-" + $(this).find(".main-color .shade").text().trim();

  });
  var LESS = "";
  $.each(colors, function(name, shades) {
    LESS += "\n\n";
    $.each(shades, function(shade, hex) {
      LESS += "@" + name + "-" + shade + ": " + hex + ";\n";
    });
    if (main[name]) {
      LESS += "@" + name + ": " + main[name] + ";\n";
    }
  });
  console.log(LESS);
})();


*/
html {
  height: 100%;
  width: 100%;
}
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.progress.active .progress-bar,
.progress-bar.active {
  animation: 0.5s linear 0s normal none infinite running progress-bar-stripes;
}
#loginDialog > .modal-dialog,
#intimationForm > .modal-dialog {
  margin: 0 auto;
}
.main {
  height: 100%;
  margin-top: -70px;
  box-sizing: border-box;
  overflow: hidden;
  padding-top: 70px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform: translateZ(0);
}
.wrapper {
  height: 100%;
  width: 100%;
}
.main_row {
  height: 100%;
}
.header-panel {
  position: relative;
  background-color: #00695c;
  color: #fafafa;
  text-align: center;
  z-index: 3;
}
.header-panel h1 {
  cursor: default;
}
.menu {
  height: 100%;
  overflow: auto;
  padding: 0;
  background-color: #e0e0e0;
}
.menu * {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.menu ul {
  padding: 0;
  margin: 7px 0;
}
.menu ul li {
  list-style: none;
  padding: 20px 0 20px 50px;
  font-size: 15px;
  font-weight: normal;
  cursor: pointer;
}
.menu ul li a {
  color: #333333;
  text-decoration: none;
}
.menu ul li.active {
  background-color: #bdbdbd;
  position: relative;
}
.document {
  height: 100%;
  z-index: 2;
  overflow: auto;
  padding-top: 15px;
}
.document .pdf {
  height: 100%;
  width: 100%;
}
.document .preview {
  text-align: justify;
}
#initialDateYear {
  height: 85px;
  padding: 0;
  float: none;
  border: 0;
  box-shadow: none;
  border-radius: 0;
  background: transparent;
  border-bottom: 1px solid #757575;
  width: 100%;
}
